.App {
  text-align: center;
}

h2{
  font-size:28px;
  margin-bottom:20px;
}
p{
  margin-block: 16px;
}

button{
  padding: 7px 16px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  background-color: #050545e8;
}

utton:hover{
  cursor: pointer;
  background-color: #2f2f6ccf
}

/* Login section */
.login_section{
  text-align: center;
 margin-top:8rem;
}
input{
   padding:8px 10px;
    border-radius: 8px;
    border: 1px solid #8d8d8d;
    width: 28%;
}

.login_section button{
  margin-top: 20px;
  display: block;
  margin-inline: auto;
}


/* Home section */
.home-section{
  padding-block: 20px;
}
table{
  width: 100%;
}

